@use './../../../styles/variables.scss' as *;
@use './../../../styles/mixins.scss' as *;

@mixin fw-lh-color() {
	font-weight: $fw-medium;
	line-height: $lh-xl;
	color: $primary-text-color;
}

.news {
	@include flex-center-center();
	flex-direction: column;
	margin-bottom: 64px;
	text-align: center;

	&__heading {
		@include fw-lh-color();
		font-size: $fz-l;
		margin-bottom: 8px;
		@media (max-width: 600px) {
			font-size: $fz-xm;
			line-height: $lh-l;
		}
	}

	&__para {
		@include fw-lh-color();
		font-size: $fz-m;
		margin-bottom: 48px;
		@media (max-width: 600px) {
			font-size: $fz-s;
			line-height: $lh-l;
		}
	}
}
