.header {
	max-width: 1300px;
	height: 64px;
	margin: 0 auto;
	padding: 0 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__logo {
		font-size: 24px;
		font-weight: 700;
		line-height: 112%;
		letter-spacing: 2%;
		color: #b4387a;
	}
}
