@use './../../styles/variables.scss' as *;
@use './../../styles/mixins.scss' as *;

.header {
	max-width: 1300px;
	height: 64px;
	margin: 0 auto;
	padding: 0 10px;
	@include flex-center-between();

	&__logo {
		font-size: $fz-xm;
		font-weight: $fw-bold;
		line-height: $lh-112;
		color: $logo-color;
	}

	.desktopHeader {
		width: 100%;
		@include flex-center-between();

		@media (max-width: 920px) {
			display: none;
		}
	}

	.mobileHeader {
		display: none;

		@media (max-width: 920px) {
			width: 100%;
			@include flex-center-between();
		}
	}
}
