@use './../../../styles/variables.scss' as *;
@use './../../../styles/mixins.scss' as *;

.section {
	max-width: 1300px;
	min-height: 366px;
	margin: 0 auto 48px;
	padding: 32px;
	border-radius: 28px;
	background: linear-gradient(
		180deg,
		rgba(178, 178, 178, 0) 0%,
		rgba(178, 178, 178, 0.8) 100%
	);
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
	@include flex-between-wrap();
	flex-direction: row;
	gap: 20px;
	position: relative;

	&__wrapperLeft {
		max-width: 440px;
	}

	&__heading {
		margin-bottom: 24px;
		font-weight: $fw-medium;
		font-size: $fz-l;
		line-height: $lh-xl;
		color: $primary-text-color;
		@media (max-width: 450px) {
			font-size: $fz-xm;
			line-height: $lh-l;
			margin-bottom: 12px;
		}
	}

	&__para {
		font-weight: $fw-medium;
		font-size: $fz-xm;
		line-height: $lh-xl;
		margin-bottom: 32px;
		@media (max-width: 450px) {
			font-size: $fz-m;
			margin-bottom: 18px;
		}
	}
}

@media (max-width: 854px) {
	.section {
		justify-content: center;
		padding-bottom: 64px;
	}
}
