@use './../../../styles/variables.scss' as *;
@use './../../../styles/mixins.scss' as *;

.sectionCards {
	@include flex-between-wrap();
	margin-bottom: 112px;
	gap: 20px;

	&__heading {
		max-width: 610px;
		margin-bottom: 36px;
		font-weight: $fw-bold;
		font-size: $fz-xl;
		color: $primary-text-color;
		@media (max-width: 600px) {
			font-size: $fz-l;
		}
		@media (max-width: 450px) {
			font-size: $fz-xm;
		}
	}

	&__cards {
		max-width: 518px;
		@include flex-between-wrap();
		row-gap: 16px;

		& img {
			width: 254px;
			height: 150px;
			border-radius: 15px;
		}
	}
}

@media (max-width: 1185px) {
	.sectionCards {
		justify-content: center;
		gap: 36px;

		&__cards {
			column-gap: 2px;
		}
	}
}

@media (max-width: 547px) {
	.sectionCards__cards {
		justify-content: center;
	}
}
