@use '../../../../../styles/variables.scss' as *;

.RatesAndConditions {
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-width: 1017px;
	margin-top: 40px;
	margin-bottom: 48px;
}

.list {
	&__wrapper {
		display: flex;
		gap: 69px;

		@media (max-width: 600px) {
			gap: 0px;
		}
	}
	&__para {
		max-width: 617px;
		display: block;
		font-weight: $fw-medium;
		font-size: $fz-m;
		color: $secondary-text-color;

		@media (max-width: 600px) {
			font-size: $fz-s;
		}

		@media (max-width: 400px) {
			font-size: $fz-xs;
		}
	}

	&__para:first-child {
		min-width: 257px;
		margin-right: 69px;
		color: black;
		vertical-align: top;

		@media (max-width: 600px) {
			min-width: 150px;
			max-width: 150px;
		}
	}

	&__para:nth-child(2) {
		display: flex;
		flex-direction: column;
	}
}

.RatesAndConditionsDivider {
	margin-top: 24px;
	background-color: #7f92ac;
}
