@use './../../../styles/variables.scss' as *;

.sectionSubscribe {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	margin-bottom: 40px;

	&__link {
		font-weight: $fw-bold;
		font-size: $fz-xm;
		line-height: $lh-147;
		color: $support-color;
		margin-bottom: 20px;
		@media (max-width: 600px) {
			font-size: $fz-m;
		}
	}

	&__heading {
		display: flex;
		flex-direction: column;
		text-align: center;
		font-weight: $fw-bold;
		font-size: $fz-l;
		line-height: $lh-120;
		color: $primary-text-color;
		margin-bottom: 27px;
		@media (max-width: 600px) {
			font-size: $fz-xm;
			margin-bottom: 17px;
		}
	}

	&__headingNews {
		font-size: $fz-l;
		font-weight: $fw-medium;
		line-height: $lh-147;
		margin-bottom: 62px;
		@media (max-width: 600px) {
			font-size: $fz-xm;
			margin-bottom: 32px;
		}
	}

	&__form {
		width: 100%;
		max-width: 525px;
		min-width: 525px;
		position: relative;

		@media (max-width: 525px) {
			min-width: unset;
			max-width: 100%;
		}
	}

	&__img {
		position: absolute;
		top: 50%;
		left: 20px;
		width: 24px;
		height: 32px;
		transform: translateY(-50%);
	}

	&__input {
		width: 100%;
		padding: 31px 20px 31px 60px;
		font-size: 20px;
		border-radius: 20px;
		background-color: $button-text-color;
		min-width: 525px;
		@media (max-width: 600px) {
			font-size: $fz-s;
		}

		&::placeholder {
			font-family: $ff-third;
			color: $secondary-text-color;
			font-size: 20px;
			line-height: $lh-147;
			@media (max-width: 600px) {
				font-size: $fz-s;
			}
		}

		@media (max-width: 525px) {
			min-width: unset;
		}
	}

	@media (max-width: 370px) {
		&__input {
			font-size: $fz-s;
			&::placeholder {
				font-size: $fz-s;
			}
		}
		&__button {
			font-size: $fz-s;
		}
	}
}
