@use './../../styles/variables.scss' as *;

.button {
	background-color: $bg-color-button;
	border-radius: 16px;
	padding: 16px;
	color: $button-text-color;
	font-weight: $fw-bold;
	font-size: $fz-m;
	line-height: $lh-112;
	transition: 150ms;

	&:hover {
		background-color: $hover-button-BgColor;
	}

	@media (max-width: 600px) {
		padding: 12px;
		font-size: $fz-s;
	}
}

// button for Subscribe from Home

.subscribe {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 0px 15px 2px;
	background-color: $subscribe-button-BgColor;
	border-radius: 20px;
	color: $button-text-color;
	border: none;
	cursor: pointer;
	font-size: $fz-m;
	font-weight: $fw-bold;
	line-height: $lh-120;

	@media (max-width: 450px) {
		padding: 0 5px 0 15px;
		font-size: 0;
	}

	& img {
		margin-bottom: 5px;
		height: 40px;
	}
}

// button for ConverterCurrency from Home

.converter {
	position: absolute;
	left: 32px;
	bottom: 32px;
	border: none;
	background: transparent;
	font-weight: $fw-bold;
	line-height: $lh-112;
	color: $button-text-color;
	font-size: 20px;
	cursor: pointer;
	transition: color 0.3s;

	&:hover {
		color: $primary-text-color;
	}
}

// button for burger from Header

.burgerButton {
	cursor: pointer;
	width: 24px;
	height: 24px;

	img {
		width: 100%;
		height: auto;
	}
}

// button for slider from Slider (Home)

.newsButton {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background-color: $bg-color-button;
	color: $button-text-color;

	& img {
		filter: brightness(0) saturate(100%) invert(99%) sepia(19%) saturate(159%)
			hue-rotate(225deg) brightness(116%) contrast(100%);
	}

	&:disabled {
		background-color: $button-text-color;
		cursor: not-allowed;
		border: 1px solid $bg-color-button;

		& img {
			filter: brightness(0) saturate(100%) invert(13%) sepia(94%) saturate(0%)
				hue-rotate(187deg) brightness(91%) contrast(102%);
		}
	}
}

// button for PageNotFound

.buttonNotFound {
	width: 192px;
	background-color: $bg-color-button;
	border-radius: 8px;
	padding: 11px 64px;
	color: $button-text-color;
	font-weight: $fw-bold;
	font-size: $fz-m;
	line-height: $lh-112;
	transition: 150ms;

	&:hover {
		background-color: $hover-button-BgColor;
	}

	@media (max-width: 600px) {
		padding: 12px;
		font-size: $fz-s;
	}
}

// button for Tabs

.TabBtn {
	font-size: $fz-m;
	color: $tabs-text-color;
	font-weight: $fw-medium;
	padding-bottom: 12px;
	margin-left: 32px;
}

.activeTabBtn {
	font-size: $fz-m;
	color: $tabs-text-color;
	font-weight: $fw-medium;
	padding-bottom: 12px;
	margin-left: 32px;
	border-bottom: 2px solid $tabs-text-color;
}

// button Accordion

.accordionButton {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 32px;
	border: 1px solid $accordion-border-color;
	background-color: $bg-color-page;
	color: $primary-text-color;
	font-weight: $fw-medium;
	font-size: $fz-m;
	line-height: $lh-147;
}
