//colors

$bg-color-page: #f5f4ff;
$logo-color: #b4387a;
$primary-text-color: #1c1c1e;
$secondary-text-color: #4f5665;
$button-text-color: #fff;
$support-color: #eb801d;
$hover-link-color: #b2a35f;
$hover-button-BgColor: #7796c0;
$subscribe-button-BgColor: #686df1;
$bg-color-button: #003cff;
$aboutPlatinum-para-color: #3d3d3d;
$tabs-text-color: #7b7454;
$how-to-step-color: #d9d9d9;
$accordion-border-color: #e2e8f0;

//Fonts

//font-family

$ff-main: 'Ubuntu', sans-serif;
$ff-secondary: 'Rubik', sans-serif;
$ff-third: 'Nunito', sans-serif;

//font-weight

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

//font-size

$fz-xs: 1.2rem;
$fz-s: 1.4rem;
$fz-m: 1.6rem;
$fz-over-m: 2rem;
$fz-xm: 2.4rem;
$fz-l: 3rem;
$fz-xl: 4.8rem;

// line-height

$lh-xl: 50px;
$lh-l: 30px;
$lh-112: 1.12;
$lh-120: 1.2;
$lh-147: 1.47;
