@use '../../styles/variables.scss' as *;

.tooltipWrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.tooltip {
	width: 170px;
	height: 36px;
	padding: 5px 30px 7px 6px;
	position: absolute;
	bottom: -42px;
	left: 0;
	z-index: 1000;
	font-family: $ff-main;
	background-color: $aboutPlatinum-para-color;
	color: $button-text-color;
	font-weight: $fw-medium;
	font-size: $fz-xs;
}
