@use './../../../styles/variables.scss' as *;
@use './../../../styles/mixins.scss' as *;

.sectionFeatures {
	@include flex-center-between();
	flex-wrap: wrap;
	margin-bottom: 48px;
	font-family: $ff-secondary;

	&__heading {
		font-size: $fz-l;
		font-weight: $fw-medium;
		color: $primary-text-color;
		margin-bottom: 25px;
		line-height: $lh-xl;
		@media (max-width: 450px) {
			font-size: $fz-xm;
			line-height: $lh-112;
		}
	}

	&__para {
		font-size: $fz-m;
		color: $secondary-text-color;
		margin-bottom: 25px;
		line-height: $lh-l;
		@media (max-width: 600px) {
			font-size: $fz-s;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 12px;
		font-size: $fz-s;
		color: $secondary-text-color;
		line-height: $lh-l;

		& li {
			display: flex;
			align-items: center;
			gap: 16px;
		}

		& li::before {
			width: 24px;
			height: 24px;
			content: url('./../../../assets/icons/check-circle.png');
		}
	}
}

@media (max-width: 1288px) {
	.sectionFeatures {
		justify-content: center;
		gap: 25px;
	}
}
