@use './../../styles/variables.scss' as *;

.burgerMenu {
	position: relative;
	z-index: 100;

	.menu {
		width: 165px;
		flex-direction: column;
		padding: 20px;
		border-radius: 20px;
		position: absolute;
		top: 100%;
		left: -165px;
		box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
		z-index: 1000;
		background-color: $bg-color-page;
		display: none;

		&.open {
			display: flex;
		}

		@media (min-width: 921px) {
			display: flex;
		}
	}
}
