.burgerMenu {
	position: relative;
	z-index: 100;
}

.burgerButton {
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.menu {
	width: 165px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border-radius: 20px;
	position: absolute;
	top: 100%;
	left: -165px;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	background-color: #f5f4ff;
}
