@use '../../../../../styles/variables.scss' as *;

.Cashback {
	width: 100%;
	margin-top: 48px;
	margin-bottom: 90px;
	display: flex;
	gap: 40px;
	flex-wrap: wrap;
}

.card {
	display: flex;
	flex-direction: column;
	gap: 22px;
	min-width: 400px;
	height: 163px;
	padding: 32px;
	border-radius: 28px;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
	flex: 1;
	background-color: rgba(136, 179, 184, 0.6);

	&:nth-child(odd) {
		background-color: #eaecee;
	}

	@media (max-width: 440px) {
		min-width: 240px;
		height: 140px;
	}

	&__title {
		font-weight: $fw-bold;
		line-height: $lh-147;
		font-size: $fz-l;
		@media (max-width: 600px) {
			font-size: $fz-over-m;
		}
	}

	&__para {
		font-weight: $fw-medium;
		font-size: $fz-m;
		@media (max-width: 600px) {
			font-size: $fz-s;
		}
	}
}
