@use '../../styles/variables.scss' as *;

.label {
	font-weight: $fw-medium;
	font-size: $fz-m;
	color: $primary-text-color;

	@media (max-width: 640px) {
		font-size: $fz-s;
	}

	span {
		color: red;
	}
}
