@use '../../styles/variables.scss' as *;

.Divider {
	width: 100%;
	height: 1px;
	background-color: $loan-input-border-color;
}

.PrescoringFormDivider {
	width: 220px;
}

.TabsDivider {
	margin-top: -2px;
}

.RatesAndConditionsDivider {
	margin-top: 24px;
	background-color: #7f92ac;
}

.HowGetCard {
	height: 2px;
	margin-top: 3px;
}
