@use './../../styles/variables.scss' as *;
@use './../../styles/mixins.scss' as *;

.footer {
	width: 100%;
	height: 437px;
	padding: 0 10px;
	background: linear-gradient(
		180deg,
		rgba(178, 178, 178, 0.2) 0%,
		rgba(244, 244, 244, 1) 100%
	);
	position: absolute;
	bottom: 0;

	&__section {
		max-width: 1300px;
		margin: 96px auto 92px;
		@media (max-width: 600px) {
			margin: 96px auto 0px;
		}
		@media (max-width: 500px) {
			margin: 26px auto 0;
		}
	}

	&__wrapper {
		@include flex-center-between();
		flex-wrap: wrap;
		gap: 32px;
		margin-bottom: 32px;
		@media (max-width: 600px) {
			margin-bottom: 12px;
			gap: 12px;
		}
	}

	&__address {
		display: flex;
		flex-direction: column;
		gap: 6px;
	}

	&__link {
		font-weight: $fw-bold;
		font-size: $fz-l;
		color: $primary-text-color;
		transition: color 0.3s;
		@media (max-width: 600px) {
			font-size: $fz-m;
		}

		&:last-child {
			color: $secondary-text-color;
			font-size: $fz-m;
			font-weight: $fw-medium;
			@media (max-width: 600px) {
				font-size: $fz-s;
			}
		}

		&:hover {
			color: $hover-link-color;
		}
	}

	&__para {
		font-weight: $fw-medium;
		font-size: $fz-m;
		color: $secondary-text-color;
		border-top: 2px solid white;
		margin-top: 32px;
		padding-top: 28px;
		@media (max-width: 600px) {
			font-size: $fz-s;
			margin-top: 12px;
			padding-top: 8px;
		}
	}
}
