.footer {
	width: 100%;
	max-height: 672px;
	padding: 0 10px;
	background-color: #f4f4f4;
	position: absolute;
	bottom: 0;

	&__section {
		max-width: 1300px;
		margin: 96px auto 92px;
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 32px;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 32px;
	}

	&__address {
		display: flex;
		gap: 6px;
		flex-direction: column;

		& a:first-child {
			font-weight: 700;
			font-size: 30px;
			color: black;
			transition: 100ms;
			&:hover {
				color: #b2a35f;
			}
		}

		& a:last-child {
			font-weight: 500;
			font-size: 16px;
			letter-spacing: 0.8px;
			color: #2d3748;
			transition: 100ms;
			&:hover {
				color: #b2a35f;
			}
		}
	}

	&__para {
		font-weight: 500;
		font-size: 16px;
		letter-spacing: 0.5px;
		color: #2d3748;
		border-top: 2px solid white;
		margin-top: 32px;
		padding-top: 28px;
	}
}
