@use './../../styles/variables.scss' as *;

.navigation {
	padding: 7px 0 7px;

	&__list {
		display: flex;
		flex-wrap: wrap;
		column-gap: 40px;
		row-gap: 8px;
	}

	.active {
		color: $hover-link-color;
	}

	&__list a {
		font-size: $fz-m;
		font-weight: $fw-bold;
		line-height: $lh-112;
		color: $primary-text-color;
		transition: 100ms;

		&:hover {
			color: $hover-link-color;
		}
	}
}
