.main {
	max-width: 1300px;
	margin: 131px auto 0;
	padding: 0 10px;
	padding-bottom: 436.84px;
}

@media (max-width: 1012px) {
	.main {
		padding-bottom: 454.84px;
	}
}

@media (max-width: 825px) {
	.main {
		padding-bottom: 481.77px;
	}
}

@media (max-width: 672px) {
	.main {
		padding-bottom: 499.77px;
	}
}

@media (max-width: 559px) {
	.main {
		padding-bottom: 526.69px;
	}
}

@media (max-width: 528px) {
	.main {
		padding-bottom: 544.69px;
	}
}

@media (max-width: 466px) {
	.main {
		padding-bottom: 626.69px;
	}
}

@media (max-width: 440px) {
	.main {
		padding-bottom: 653.61px;
	}
}
